.ocup{
    background-color: rgb(230, 81, 81);
}
.lib{
    background-color: green;
}
.pantcine{
    width:360px;
    height: 200px;
}
.palomitas{
    width: 33px;
}
.containerpalo{
    margin-top: 15px;
}