.row-container{
    display:flex;
    flex-direction: row;
}

.preticket-container-hall-time{
    display:flex;
    justify-content: center;
    
    span{
        padding:10px 20px;
    }
}

.seat-number{
    margin: 0 5px;
}

.anchor-register, .anchor-login {
    color: blue;
    cursor: pointer;
}